
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
.btn {
    padding: 25px;
    font-size: 50px;
}

.col {
    padding: 25px;
    font-size: 50px; 
       
}

.row {    
    width: 100%;
    padding: 370px;
  }